* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #ffffff;
}

/* HEADER */
.header {
  background-image: url("images/Rectangle\ 3.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo-img {
  cursor: pointer;
  width: 86px;
  height: 72px;
}

.logo-name {
  cursor: pointer;
  color: #000000;
  font-family: "Jost";
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

.menu {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  margin-right: 40px;
}

.menu li a {
  text-decoration: none;
  color: #68763f;
  background-color: #fafafa;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 500;
}

/* ABOUT US */
.about-us {
  font-family: "Kaisei Decol";
  display: flex;
  flex-wrap: wrap;
}

.about-us-img {
  flex-basis: 40%;
  height: 450px;
}

.about-us-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.about-us-right {
  flex-grow: 1;
  flex-basis: 60%;
  height: 450px;
  background: #9cab70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.about-us-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.about-us-content {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  width: 662px;
  height: 173px;
}



/* PRODUCT */
.product {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 54px;
}

.product-title {
  color: #000;
  font-family: "Kaisei Decol";
  font-size: 48px;
  font-weight: 700;
}

.cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card-item {
  flex-basis: calc(25% - 50px);
  flex-grow: 1;
  text-align: center;
}

.card-item img {
  border-radius: 195px;
  width: 195px;
  height: 190px;
  margin-bottom: 15px;
}

.product-name {
  color: #000;
  font-family: "Jost";
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 5px;
}

.product-desc {
  color: #000;
  text-align: center;
  font-family: "Kaisei Decol";
  font-size: 16px;
  font-weight: 700;
}

/* DISCOUNT */
.discount {
  display: flex;
  gap: 25px;
}

.discount-left {
  flex-grow: 1;
  flex-basis: 60%;
  background: #9cab70;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount-time {
  color: #fff;
  text-align: center;
  font-family: "Italiana";
  font-size: 64px;
  font-weight: 400;
}

.discount-detail {
  color: #fff;
  text-align: center;
  font-family: "Jost";
  font-size: 32px;
  font-weight: 400;
  width: 654px;
  height: 103px;
}

.btn-contact {
  cursor: pointer;
  color: #383f26;
  text-align: center;
  font-family: "Jost";
  font-size: 32px;
  font-weight: 400;
  border-radius: 20px;
  border: 2px solid #68763f;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px 11px;
}

.discount-right {
  height: 354px;
}

.discount-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}



/* CONTACT */
.contact {
  background-image: url("images/Rectangle\ 10.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form {
  width: 607px;
  height: 603px;
  background: #fafafa;
  padding: 36px 46px 58px 46px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

#contact-form h1 {
  color: #000;
  text-align: center;
  font-family: "Jost";
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 37px;
}

#contact-form .form-control {
  border-radius: 15px;
  border: 4px solid #9cab70;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #787b6d;
  font-family: "Jost";
  font-size: 32px;
  font-weight: 400;
  padding-left: 20px;
}

#contact-form input {
  height: 56px;
}

#contact-form textarea {
  height: 135px;
}

.btn-send {
  align-self: flex-end;
  border-radius: 15px;
  border: 4px solid #9cab70;
  background: #68763f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Jost";
  font-size: 32px;
  font-weight: 400;
  padding: 4px 35px 2px 36px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 28px 0px 23px 0px;
}

.social {
  display: flex;
  gap: 24px;
  padding: 16px 0px 20px 0px;
}

.social img {
  cursor: pointer;
}

.footer .menu li a {
  color: #9cab70;
}

@media screen and (max-width: 992px) {
  .cards,
  .about-us,
  .discount
  {
    flex-direction: column;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu li a,
  .discount-detail{
    font-size: 1.3rem;
    height: auto;
  }
  
  .btn-contact{
    margin: 1rem 0;
  }

  .about-us-right,
  .about-us-content,
  .discount-left,
  .discount-detail,
  #contact-form
  {
    width: 100%;
  }

  .about-us-content{
    font-size: 1.3rem;
  }

}
